@keyframes shine {
  from {
    background-position: -60px;
  }

  to {
    background-position: 320px;
  }
}

.loading-item {
  display: inline-block;
  width: 265px;
  margin-right: 20px;
  padding: 0;
  border: 1px solid #f5f6f8;
  border-radius: 4px;
}

.skeleton-image {
  height: 174px;
  margin-bottom: 28px;
  background-image: linear-gradient(90deg,#f5f6f8 0,#e9ebf0 40px,#f5f6f8 80px);
  background-size: 380px;
  animation: shine .8s infinite ease-in-out;
}

.skeleton-text {
  margin: 0 0 10px 28px;
  background-image: linear-gradient(90deg,#f5f6f8 0,#e9ebf0 40px,#f5f6f8 80px);
  background-size: 380px;
  animation: shine .8s infinite ease-in-out;
  height: 18px;
}

.title {
  width: 200px;
}

.line-one {
  width: 50px;
}

.line-two {
  width: 70px;
}

.skeleton-button {
  width: 70px;
  height: 32px;
  background-size: 380px;
  border-radius: 4px;
  background-image: linear-gradient(90deg,#f5f6f8 0,#e9ebf0 40px,#f5f6f8 80px);
  animation: shine .8s infinite ease-in-out;
  margin: 45px 0 28px 28px;
  background-color: #f5f6f8;
}
