<div local-class="skeleton-services">
  <div local-class="loading-item">
    <div local-class="skeleton-image"></div>
    <div local-class="skeleton-text title"></div>
    <div local-class="skeleton-text title line-one"></div>
    <div local-class="skeleton-text title line-two"></div>
    <div local-class="skeleton-button"></div>
  </div>
  <div local-class="loading-item">
    <div local-class="skeleton-image"></div>
    <div local-class="skeleton-text title"></div>
    <div local-class="skeleton-text title line-one"></div>
    <div local-class="skeleton-text title line-two"></div>
    <div local-class="skeleton-button"></div>
  </div>
</div>
