<div local-class="reservation-wrapper" class="d-flex flex-wrap">
  <Reservation::ReservationWrapper::Header @clinician={{@clinician}} />

  <Reservation::ReservationWrapper::Body>
    {{yield @steps this.currentStep}}
  </Reservation::ReservationWrapper::Body>
</div>
