<div local-class="header">
  <div class="d-flex">
    <span local-class="subtitle" class="d-none d-lg-block">{{@clinician.firstName}} {{@clinician.lastName}}</span>
    <span local-class="title" class="d-none d-lg-block">Request an appointment</span>
  </div>
</div>

{{yield}}
