{{page-title "Location"}}

<div class="container">
  <div class="row">
    {{#each this.model as |location|}}
      <Reservation::LocationItem @location={{location}} @nextStep={{action (route-action 'nextStep')}}/>
    {{/each}}
  </div>
</div>
